<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copy-right text-center my-auto">
            <span>Fahari Technologies</span>
        </div>
    </div>
</footer>